AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_USER_POOL_ID=us-east-1_XXXXXXXX
AWS_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXX
AWS_IDENTITY_POOL_ID=us-east-1:XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
API_BASE_URL_DEV=https://api.soloadventurer.com/dev
API_BASE_URL_STAGING=https://api.soloadventurer.com/staging
API_BASE_URL_PROD=https://api.soloadventurer.com/prod
OAUTH_CALLBACK_URL=soloadventurer://callback
OAUTH_SIGN_OUT_URL=soloadventurer://signout
AWS_CLOUDWATCH_LOG_GROUP=/aws/cognito/userpools
AWS_CLOUDWATCH_LOG_STREAM=default
ENABLE_DETAILED_LOGS=true
ENABLE_PERFORMANCE_MONITORING=true
ENABLE_CRASH_REPORTING=true
ENABLE_ANALYTICS=false
CACHE_MAX_SIZE_MB=100
CACHE_EXPIRATION_DAYS=7